<h3>トップページ</h3>
  <div class="container">
    <% @memos.each do |m|%>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
              <h4><%= m.title %></h4>
              <p>カテゴリー未設定</p>
              <div class="buttons">
                <a href="/memos/<%= m.id %>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a> 
                <a href="/memos/<%= m.id %>/edit"><span class="glyphicon glyphicon-edit"></span></a>
              </div>
            </div>
            <div class="panel-body">
                <%= m.body %>
            </div>
        </div>
    </div>
  <% end %>
  </div>
    